// Colors
$color-black: #252525;
$color-white: #fff;
$color-off-white: #f8f8f8;
$color-gray: #ccc;
$color-success: #4CAF50;
$color-error: #e55039;

// Font Family Declarations
// $font-forza:'Forza', sans-serif;
